<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
      h1,
      h2 {
        text-align: center;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
      }
      label,
      input {
        display: block;
        margin-bottom: 10px;
      }
      input[type="submit"] {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #0056b3;
      }
      .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .profile-info p {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- <h1>Update User Profile</h1> -->

      <!-- <form method="POST" action="/profile">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required />

        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required />

        <input type="submit" value="Save" />
      </form> -->
      <% if (user) { %>
      <div class="profile-info">
        <h2>Your Profile Information:</h2>
        <p>Full Name: <%= user.fullName %></p>
        <p>Email: <%= user.email %></p>
        <p>Phone: <%= user.phoneNumber %></p>
      </div>
      <% } %>
      <button>Update</button>
    </div>
  </body>
</html>